<div handler-hipay-paypal-plugin data-handler-hipay-paypal-plugin-options="{{ hipayConfig|json_encode }}">
  {% block hipay_paypal_html %}
        <form class="hipay-form" id="hipay-form">
            <div id="paypal-field"></div>
        </form>
  {% endblock %}
</div>