# IDE
.buildpath
.settings
.project
.idea/*
.vscode

bin/
!bin/docker/images/shopware/entrypoint.sh
!bin/docker/conf/nginx/proxy_helm.conf
web/
log/
node_modules/
.gitlab-ci.yml
.gitignore
.dockerignore
docker-compose.yaml
shopware.sh
