{% block sw_order_detail_actions_slot_smart_bar_actions %}
  <template v-if="showOnHipayMethod">   
    <sw-button variant="contrast"
      v-if="canCapture"
      @click="openCapture"
      :disabled="!acl.can('order.editor')">
      {{ $tc('hipay.action.capture') }}
    </sw-button>
    <sw-button variant="contrast"
      v-if="canRefund"
      @click="openRefund"
      :disabled="!acl.can('order.editor')">
      {{ $tc('hipay.action.refund') }}
    </sw-button>
    <sw-button title="Cancel HiPay Transaction" variant="danger"
      v-if="canCancel"
      @click="openCancel"
      :disabled="!acl.can('order.editor')">
      {{ $tc('hipay.action.cancelOrder') }}
    </sw-button>
    <div class="separator"></div>
    {% parent %}
    <sw-modal :title="$tc('hipay.action.capture')"
      v-if="showOrderCapture"
      v-show="!showOrderStateForCapture"
      @modal-close="closeOrderCaptureModal">
      <sw-data-grid ref="basket"
        :dataSource="orderBasket"
        :columns="basketColumns"
        :showActions="false"
        :isRecordSelectable="isProductSelectable"
        :showSelection="canPartialCapture"
        @selection-change="onSelectProductForCapture"
        @quantity-change="onQuantityChangeForCapture"
        @hook:mounted="selectAllProducts"></sw-data-grid>
      <br />
      <div class="captureBtnGrp">
        <sw-text-field :label="$tc('hipay.field.order_amount')"
          :value="formatCurrency(orderAmount)"
          :disabled="true"></sw-text-field>
        <sw-text-field :label="$tc('hipay.field.captured_amount')"
          :value="formatCurrency(capturedAmountInProgress)"
          :disabled="true"></sw-text-field>
      </div>
      <div class="captureBtnGrp">
        <sw-text-field :label="$tc('hipay.field.remaining_amount')"
          :value="formatCurrency(remainingCaptureAmount)"
          :disabled="true"></sw-text-field>
        <sw-number-field ref="captureAmount"
          :label="$tc('hipay.field.capture_amount')"
          :min="0.01"
          :max="remainingCaptureAmount"
          :value="getCaptureAmount"
          :allowEmpty="true"
          :required="true"
          :disabled="!canPartialCapture"
          :isInvalid="isInvalidCaptureAmount"
          @change="onManualCaptureAmount"
          :placeholder="captureAmountPlaceholder ? formatCurrency(captureAmountPlaceholder) : null"></sw-number-field>
      </div>
      <template slot="modal-footer">
        <sw-button @click="closeOrderCaptureModal">
          {{ $tc('hipay.action.cancel') }}
        </sw-button>
        <sw-button variant="primary"
          v-if="canPartialCapture"
          @click="captureOrder"
          :disabled="isInvalidCaptureAmount">
          {{ $tc('hipay.action.capture') }}
        </sw-button>
        <sw-button variant="primary"
          @click="fullCaptureOrder"
          :disabled="isInvalidFullCaptureAmount">
          {{ $tc('hipay.action.full_capture') }}
        </sw-button>
      </template>
    </sw-modal>
    <sw-order-state-change-modal :order="order"
      :isLoading="isLoadingRequest"
      technicalName=""
      v-if="showOrderStateForCapture"
      @page-leave="closeOrderStateModal"
      @page-leave-confirm="makeCapture"></sw-order-state-change-modal>

    <sw-modal :title="$tc('hipay.action.refund')"
      v-if="showOrderRefund"
      v-show="!showOrderStateForRefund"
      @modal-close="closeOrderRefundModal">
      <sw-data-grid ref="basket"
        :dataSource="orderBasket"
        :columns="basketColumns"
        :showActions="false"
        :isRecordSelectable="isProductSelectable"
        :showSelection="canPartialRefund"
        @selection-change="onSelectProductForRefund"
        @quantity-change="onQuantityChangeForRefund"
        @hook:mounted="selectAllProducts"></sw-data-grid>
      <br />
      <div class="refundBtnGrp">
        <sw-text-field :label="$tc('hipay.field.captured_amount')"
          :value="formatCurrency(capturedAmount)"
          :disabled="true"></sw-text-field>
        <sw-text-field :label="$tc('hipay.field.refunded_amount')"
          :value="formatCurrency(refundedAmountInProgress)"
          :disabled="true"></sw-text-field>
      </div>
      <div class="refundBtnGrp">
        <sw-text-field :label="$tc('hipay.field.remaining_amount')"
          :value="formatCurrency(remainingRefundAmount)"
          :disabled="true"></sw-text-field>
        <sw-number-field ref="refundAmount"
          :label="$tc('hipay.field.refund_amount')"
          :min="0.01"
          :max="remainingRefundAmount"
          :value="getRefundAmount"
          :allowEmpty="true"
          :required="true"
          :isInvalid="isInvalidRefundAmount"
          :disabled="!canPartialRefund"
          @change="onManualRefundAmount"
          :placeholder="refundAmountPlaceholder ? formatCurrency(refundAmountPlaceholder) : null"></sw-number-field>
      </div>
      <template slot="modal-footer">
        <sw-button @click="closeOrderRefundModal">
          {{ $tc('hipay.action.cancel') }}
        </sw-button>
        <sw-button variant="primary"
        v-if="canPartialRefund"
          @click="refundOrder"
          :disabled="isInvalidRefundAmount">
          {{ $tc('hipay.action.refund') }}
        </sw-button>
        <sw-button variant="primary"
          @click="fullRefundOrder"
          :disabled="isInvalidFullRefundAmount">
          {{ $tc('hipay.action.full_refund') }}
        </sw-button>
      </template>
      <sw-order-state-change-modal :order="order"
        :isLoading="isLoadingRequest"
        technicalName=""
        v-if="showOrderStateForRefund"
        @page-leave="closeOrderStateModal"
        @page-leave-confirm="makeRefund"></sw-order-state-change-modal>
    </sw-modal>

    <sw-order-state-change-modal :order="order"
        :isLoading="isLoadingRequest"
        technicalName=""
        v-if="showOrderStateForCancel"
        @page-leave="closeCancelModal"
        @page-leave-confirm="makeCancel"></sw-order-state-change-modal>
  </template>
{% endblock %}
{% block sw_order_detail_actions_abort %}
  <sw-button
    title="Reset Form Modifications"
    v-tooltip="{
      message: $tc('sw-privileges.tooltip.warning'),
      disabled: acl.can('order.editor'),
      showOnDisabledElements: true
      }"
    class="sw-order-detail__smart-bar-cancel-button"
    :disabled="isLoading || !acl.can('order.editor')"
    @click="onCancelEditing"
    >
      {{ $tc('hipay.action.resetModifications') }}
  </sw-button>
{% endblock %}
