{% sw_extends '@Storefront/storefront/component/payment/payment-method.html.twig' %}

{% if page.cart %}
    {% set summary = page.cart %}
{% elseif page.order %}
    {% set summary = page.order %}
{% endif %}

 {% block component_payment_method_image %}
  {% if 'handler_hipay_creditcard' in payment.formattedHandlerIdentifier %}
    {% sw_include '@HiPayPaymentPlugin/storefront/component/payment/creditcards/hipay-creditcard-image.html.twig' %}
  {% else %}
    {{ parent() }}
  {% endif %}
 {% endblock %}


{% block component_payment_method_description %}
  {{ parent() }}
  {% set environment = config('HiPayPaymentPlugin.config.environment') %}
  {% set isPayPalV2 = payment.customFields.merchantPayPalId != "" %}
  {% set componentName = payment.formattedHandlerIdentifier|replace({'_':'-'}) %}
  <script src="https://libs.hipay.com/js/sdkjs.js"></script>

  {% if payment.id is same as(selectedPaymentMethodId)
      and 'handler_hipay_' in payment.formattedHandlerIdentifier
      and activeRoute in ['frontend.account.edit-order.page', 'frontend.checkout.confirm.page']
  %}

    {% if config('HiPayPaymentPlugin.config.operationMode') == 'hostedFields'
        and payment.extensions.hipayConfig.haveHostedFields
        or isPayPalV2
    %}
      {% if componentName == 'handler-hipay-applepay'%}
        {% set hipayConfig = {
            username: config('HiPayPaymentPlugin.config.publicApplePayLogin' ~ environment),
            password: config('HiPayPaymentPlugin.config.publicApplePayPassword' ~ environment),
            merchantId: payment.customFields.merchantId,
            merchantName: payment.customFields.merchantName,
            shopname: page.metaInformation.metaTitle,
            environment: environment|lower,
            lang: page.header.activeLanguage.translationCode.code|slice(0, 2),
            countryCode: page.header.activeLanguage.translationCode.code|slice(3, 2),
            amount: summary.price.rawTotal,
            currency: page.header.activeCurrency.isoCode,
            styles: {
              base: {
                color: config('HiPayPaymentPlugin.config.hostedFieldsTextColor'),
                fontSize: config('HiPayPaymentPlugin.config.hostedFieldsFontSize'),
                fontFamily: config('HiPayPaymentPlugin.config.hostedFieldsFontFamilly'),
                fontWeight: config('HiPayPaymentPlugin.config.hostedFieldsFontWeight'),
                placeholderColor: config('HiPayPaymentPlugin.config.hostedFieldsPlaceholderColor'),
                iconColor: config('HiPayPaymentPlugin.config.hostedFieldsIconColor'),
                caretColor: config('HiPayPaymentPlugin.config.hostedFieldsCaretColor')
              },
              buttonType: payment.customFields.buttonType,
              buttonStyle: payment.customFields.buttonStyle,
            }
          }
        %}
      {% elseif componentName == 'handler-hipay-paypal' %}
        {% set hipayConfig = {
          username: config('HiPayPaymentPlugin.config.publicLogin' ~ environment),
          password: config('HiPayPaymentPlugin.config.publicPassword' ~ environment),
          environment: environment|lower,
          merchantPayPalId: payment.customFields.merchantPayPalId,
          amount: summary.price.rawTotal,
          currency: page.header.activeCurrency.isoCode,
          lang: page.header.activeLanguage.translationCode.code|slice(0, 2),
          locale: page.header.activeLanguage.translationCode.code|replace({'-':'_'}),
          styles: {
            color: payment.customFields.color,
            shape: payment.customFields.shape,
            label: payment.customFields.label,
            height: payment.customFields.height
          }
        }%}
      {% else %}
        {% set hipayConfig = {
            username: config('HiPayPaymentPlugin.config.publicLogin' ~ environment),
            password: config('HiPayPaymentPlugin.config.publicPassword' ~ environment),
            environment: environment|lower,
            lang: page.header.activeLanguage.translationCode.code|slice(0, 2),
            amount: summary.price.rawTotal,
            styles: {
              base: {
                color: config('HiPayPaymentPlugin.config.hostedFieldsTextColor'),
                fontSize: config('HiPayPaymentPlugin.config.hostedFieldsFontSize'),
                fontFamily: config('HiPayPaymentPlugin.config.hostedFieldsFontFamilly'),
                fontWeight: config('HiPayPaymentPlugin.config.hostedFieldsFontWeight'),
                placeholderColor: config('HiPayPaymentPlugin.config.hostedFieldsPlaceholderColor'),
                iconColor: config('HiPayPaymentPlugin.config.hostedFieldsIconColor'),
                caretColor: config('HiPayPaymentPlugin.config.hostedFieldsCaretColor')
              }
            }
          }
        %}
      {% endif %}
      {% block hipay_hosted_fields_html %}
        <input type="text"
          name="hipay-response"
          id="hipay-response"
          form="confirmOrderForm"
          style="position: absolute; visibility: hidden;"
          required
        />
      {% endblock %}
      {% sw_include '@HiPayPaymentPlugin/storefront/component/payment/hosted-fields/' ~ componentName ~ '.html.twig' %}

    {% elseif payment.formattedHandlerIdentifier != 'handler_hipay_multibanco' && not isPayPalV2 || config('HiPayPaymentPlugin.config.operationMode') != 'hostedFields'
    %}
      <p>{{ 'hipay.hosted-page.redirect-message'|trans }}</p>
    {% endif %}
  {% endif %}

  {% if 'handler_hipay_creditcard' in payment.formattedHandlerIdentifier
      and activeRoute in ['frontend.account.payment.page']
      and page.extensions.card_tokens
  %}
    {% sw_include '@HiPayPaymentPlugin/storefront/component/payment/creditcards/account-creditcard.html.twig' %}
  {% endif %}

{% endblock %}
